/*@media print {*/
    .head-Factura{
        background-color: #00BCD4;
        color:#fff;
        margin: auto 0;
        padding: 13px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 14px;
    }


