<div class="pageContent">

    <link href="/modular/estilos/factura.css" rel="stylesheet" type="text/css" media="print">

    <div class='factura'>
            <div class='head-Factura' align='center'>
                <h2>Factura de Venta No. 4</h2>
            </div>
            <button onclick="window.print()">Imprimir</button>
    </div>
</div>

